/coverage/
/src/
!/lib/
dist
/tsconfig.json
/tsconfig.*.json
tsconfig.tsbuildinfo
/.github/
/.vscode/
/.idea/
/.editorconfig
/.eslintrc.js
/.eslintignore
/.prettierrc.json
/.prettierignore
/.release-please-manifest.json
/.tool-versions
/.nvmrc
